<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5C682A81D9224AA00C79BDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5C682BC1D9224AB00C79BDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5C682C71D9224AB00C79BDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
